$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$theme-colors: map-merge($theme-colors, (
        "primary": #00415d,
        "secondary": #74d4d5,
        "shrinkwrap": #e5e5e5,
));

@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'bootstrap/scss/utilities.scss';

.ai-logo-container {
  color: #aaa;

  &:hover {
    color: #444;
  }
}

.shrinkwrapRow {
  font-family: $font-family-sans-serif;
  padding: 4px;

  .shrinkwrapTitle {
    cursor: pointer;
  }

  &.showSummary .shrinkwrapTitle {
    font-weight: 600;
  }

  &.showSummary div.shrinkwrapSummary {
    margin-top: 4px;
    margin-bottom: 4px;
    display: block;
  }

  div.shrinkwrapSummary {
    display: none;
  }
}


.indeterminate-progress-bar {
  background-color: #d1d5db;
  /* Size */
  height: 2px;

  position: relative;
  overflow: hidden;
  width: 100%;
}

.indeterminate-progress-bar__progress {
  /* Color */
  background-color: #67BCBD;


  /* Absolute position */
  position: absolute;
  bottom: 0;
  top: 0;
  width: 50%;

  /* Move the bar infinitely */
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: indeterminate-progress-bar;
}

@keyframes indeterminate-progress-bar {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

/* analysis */
.shrinkwrapAnalysisBlock {
  font-family: $font-family-sans-serif;
  position: relative;
  background-color: #fcffff;
  border: 1px solid #67BCBD;
  margin-top: 0.5em;


  .shrinkwrapAnalysis {
    padding: 0.5em;

    .shrinkwrapTitle, dt {
      font-weight: 600;
    }
  }

  .ai-logo-container {
    float: right;
  }

}

.eu-icon {
  vertical-align: bottom;
  margin-left: 0.2em;
}