@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$theme-colors: map-merge($theme-colors, (
        "primary": #00415d,
        "secondary": #74d4d5,
));

@import 'bootstrap/scss/bootstrap.scss';


.sw-sidepanel {
  padding: 8pt;
}